<a href="https://colab.research.google.com/github/Varun0801/Deep_Learning_Essentials/blob/master/Linear_Regression_Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [25]:
data = pd.read_csv("/content/hiring.csv")
data

   Experience  TestScore(10)  InterviewScore(10)  Salary($)
0           0              8                   9      50000
1           0              8                   6      45000
2           5              6                   7      60000
3           2             10                  10      65000
4           7              9                   6      70000
5           3              7                  10      62000
6          10              7                   7      72000
7          11              7                   8      80000

In [27]:
features = data.iloc[:,:3]
target = data.iloc[:,3]
features

   Experience  TestScore(10)  InterviewScore(10)
0           0              8                   9
1           0              8                   6
2           5              6                   7
3           2             10                  10
4           7              9                   6
5           3              7                  10
6          10              7                   7
7          11              7                   8

In [28]:
from sklearn import linear_model
model = linear_model.LinearRegression()
model.fit(features,target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [29]:
print(model.coef_)
print(model.intercept_)

[2922.26901502 2221.30909959 2147.48256637]
14992.651446693148

In [30]:
print(model.predict([[2,9,6]]))
print(model.predict([[12,10,10]]))

[53713.86677124]
[93747.79628651]